
<h1>Listing attendees</h1>
 
<table class="table-container-index">
  <tr>
    <th>Name</th>
    <th>Coming?</th>
    <th>Dietary Requirements</th>
    <th></th>
  </tr>
 


  <% @attendees.each do |attendee| %>

    <tr>
      <td><%= attendee.name %></td>
      <td><%= attendee.coming %></td>
      <td><%= attendee.diet %></td>
      <td><%= link_to 'Show', attendee_path(attendee) %></td>
    </tr>
  <% end %>


</table>