
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background: black;
}

.bgimg-1 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("/assets/ratrace.jpeg");
  min-height: 100%;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}



</style>
</head>
<body>

<div style="color: #777;background-color:#000;text-align:center;padding:50px 80px; border: 2px solid #f81894; text-align: justify;">

Thank you!! See you on Friday 29 November at 5pm!

Level 8, Studios 12 & 13 (our classroom)

<%= link_to 'See Guest List', attendees_path %>
🍕 🍺 🍫
<%= link_to 'Home', root_path %>
</div>

<div class="bgimg-1">
</div>



</body>
</html>